
.div1{
    border: violet solid 5px;
text-align: center;
border-radius: 5;
background-color: aqua;

}
.hello{
    font-style: italic;
    font-weight: 200;
    font-size: 50px;

}           
.text{
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
display: flex;
justify-content: center;
align-items: center;    
}

.image{
       border: 10px;
       align-items: center;
       size: 10px;
       width: 500px;
       height: 500px;
       display: grid center;
       object-fit: cover;
  
    }